*{
    border:0;
    padding:0;
}
img{
    max-width:100%;
    max-height:100;
}
body{
    background-color:#333;
}
body > h2{
    text-align:center;
    color:white;
    font-family: 'Ink Free';
    font-size:xxx-large;
}
.logo{
    width:5rem;
    height:5rem;
    border-radius:50%;
}
.button-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.button-container>button{
    margin:0.25rem;
}
.button-container >a{
    color:white;
}
.show-more-button{
    text-align:center;
    padding:0.5rem;
    font-size: small;
    color:white;
    background-color:dodgerblue;
}
.show-more-button:hover{
    background-color:goldenrod;
    color:white;
}
.hide-button{
    padding:0.5rem;
    font-size:small;
}
.cards-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.cards{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:1rem;
}
.cards > h2,
.cards > h3{
    color:white;
    font-family: 'Ink Free';
    margin:0.25rem;
}
.cards:hover{
    margin-bottom:10px;
}
.cards img{
    width:25rem;
    height:20rem;
}
.tooltip{
    display:none;
}
.redirect-link:hover~.tooltip{
    display: block;
    font-size:small;
    color:gold;
}

